body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .header {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .profile-card {
    border: 1px solid #fcf3f3;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FFF7F7;
    
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
  }